/* TODO ======================= GOOGLE FONTS ======================= */
/* ! font dari website https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

:root {
  --color-waterfall: #094b65;
  --color-between-waterfall-and-mountain: #471d30;
  --color-mountain: #205471;
  --color-between-mountain-and-moonlight: #1e2744;
  --color-moonlight: #341138;
  --color-end-moonlight: #3b1f51;
}

/* TODO ======================= BASE ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #fff;
  min-height: 100vh;
}

/* TODO ======================= HEADER ======================= */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10000;
}

.logo {
  color: var(--color-waterfall);
  font-weight: bolder;
  font-size: 3em;
  text-decoration: none;
  margin-right: 200px;
  font-family: "Rancho", cursive;
}

/* .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navigation li {
  list-style: none;
  margin-left: 50px;
}

.navigation li a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--color-waterfall);
  border-radius: 20px;
  font-weight: bolder;
} */

.navigation li a:hover,
.navigation li a.active {
  background: var(--color-waterfall);
  color: #fff;
}

/* TODO ======================= WATERFALL ======================= */
section.waterfall {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section.waterfall::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--color-waterfall), transparent);
  z-index: 10;
}

section.waterfall img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* ? height disesuaikan dengan layar device (normal 100%), 
     ? untuk layar laptop ini cocoknya 110% 
     ? supaya navigasi bar-nya tidak ketutup pohon */
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section.waterfall #text-waterfall {
  position: absolute;
  color: var(--color-waterfall);
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
}

section.waterfall #text-waterfall span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

/* #btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: #fff;
  color: var(--color-waterfall);
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
} */

.description-waterfall {
  position: relative;
  padding: 100px;
  background: linear-gradient(
    to bottom,
    var(--color-waterfall) 25%,
    var(--color-between-waterfall-and-mountain)
  );
}

.description-waterfall h2 {
  font-size: 5em;
  color: #838f15;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Rancho", cursive;
  /* -webkit-text-stroke: 0.01px #fff; */
  font-weight: bolder;
}

.description-waterfall p {
  font-size: 1.2em;
  color: #fff;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  text-indent: 40px;
}

/* TODO ======================= MOUNTAIN ======================= */
section.mountain {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section.mountain::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, var(--color-mountain), transparent);
  z-index: 10;
}

section.mountain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* ? height disesuaikan dengan layar device (normal 100%), 
     ? untuk layar laptop ini cocoknya 110% */
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section.mountain img #sunset {
  z-index: -1;
}

section.mountain #text-mountain {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: #522842;
  font-family: "Rancho", cursive;
  text-align: center;
  line-height: 0.55em;
}

section.mountain #text-mountain span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.description-mountain {
  position: relative;
  padding: 100px;
  background: linear-gradient(
    to bottom,
    var(--color-mountain) 25%,
    var(--color-between-mountain-and-moonlight)
  );
}

.description-mountain h2 {
  font-size: 5em;
  color: #fa6f3e;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Rancho", cursive;
  /* -webkit-text-stroke: 0.01px #fff; */
  font-weight: bolder;
}

.description-mountain p {
  font-size: 1.2em;
  color: #fff;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  text-indent: 40px;
}

/* TODO ======================= MOONLIGHT ======================= */
section.moonlight {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section.moonlight::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, var(--color-moonlight), transparent);
  z-index: 10000;
}

section.moonlight img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* ? height disesuaikan dengan layar device (normal 100%), 
     ? untuk layar laptop ini cocoknya 110% */
  height: 110%;
  object-fit: cover;
  pointer-events: none;
}

section.moonlight img#moon {
  mix-blend-mode: screen;
}

section.moonlight img#mountains_front {
  z-index: 10;
}

section.moonlight #text-moonlight {
  position: absolute;
  left: -700px;
  font-size: 7vw;
  color: #fff;
  font-family: "Rancho", cursive;
  z-index: 9;
  text-align: center;
  line-height: 0.5em;
}

section.moonlight #text-moonlight span {
  font-size: 0.2em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.description-moonlight {
  position: relative;
  padding: 100px;
  background: linear-gradient(
    to bottom,
    var(--color-moonlight) 25%,
    var(--color-end-moonlight)
  );
}

.description-moonlight h2 {
  font-size: 5em;
  color: #4d4b9c;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Rancho", cursive;
  font-weight: bolder;
}

.description-moonlight p {
  font-size: 1.2em;
  color: #fff;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  text-indent: 40px;
}

.description-moonlight .end {
  font-weight: bolder;
  font-size: 3em;
  text-align: center;
  font-family: "Rancho", cursive;
  color: #d9e0f1;
}
